Update Email Keywords/part1: reset

**WHAT**
As a User i want to changing the keywords of an Email ( could be changing one or many keywords)

**How**
```
- The format of the keywords/mailboxIds properties means that when updating an Email, you can either replace the entire set of keywords/Mailboxes (by setting the full value of the property) or add/remove individual ones using the JMAP patch syntax (see [@!RFC8620], Section 5.3 for the specification and Section 5.7 for an example)
```

**Example**
- The client may send the whole object to the server:
```
[[ "Email/set", {
                   "accountId": "x",
                   "update": {
                     "a": {
                       "keywords": {
                         "music": true,
                         "beethoven": true,
                         "chopin": true,
                         "liszt": true,
                         "rachmaninov": true
                       }
                     }
                   }
                 }, "0" ]]
```
Result should be:
`chopin` added 
`mozart` removed


**DOD**: Write integrations test for it in both case one or many keywords.



https://issues.apache.org/jira/browse/JAMES-3411